/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.dis-none {
    display: none;
}

.text-red {
    color: red;
}

.min-w-screen {
    width: 100vw;
}

.disabled {
    cursor: default !important;
    opacity: 0.45 !important;
    background-image: none !important;
    /* pointer-events: none !important; */
}

.label-group {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bg-opacity {
    transition: 0.5s;
    z-index: 0 !important;
    overflow: hidden;
    background-color: #00000062;
}

/* LOADING */
.loading {
    position: relative;
    cursor: default;
    text-shadow: none !important;
    color: transparent !important;
    opacity: 1;
    pointer-events: none !important;
    -webkit-transition: all 0s linear, opacity 0.1s ease;
    transition: all 0s linear, opacity 0.1s ease;
}

.loading:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: -0.64285714em 0 0 -0.64285714em;
    width: 1.28571429em;
    height: 1.28571429em;
    border-radius: 500rem;
    border: 0.2em solid rgba(0, 0, 0, 0.15);
}

.loading.inverted:after {
    border-top-color: #212121;
}

.loading:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: -0.64285714em 0 0 -0.64285714em;
    width: 1.28571429em;
    height: 1.28571429em;
    -webkit-animation: button-spin 0.6s linear;
    animation: button-spin 0.6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 0.2em;
    -webkit-box-shadow: 0 0 0 1px transparent;
    box-shadow: 0 0 0 1px transparent;
}

table td.loading {
    height: 5em;
}

table td.loading:before {
    width: 4em;
    height: 4em;
    border-width: 0.4em;
    top: 25%;
}

table td.loading:after {
    width: 4em;
    height: 4em;
    border-width: 0.4em;
    top: 25%;
}

@keyframes button-spin {
    to {
        transform: rotate(360deg);
    }

    from {
        transform: rotate(0deg);
    }
}

/* BUTTON, LINK */
.btn.primary-btn {
    background-color: #1678c2 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.primary-btn:hover {
    background-color: #206091 !important;
}

.btn.secondary-btn {
    background-color: #1b1c1d !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.secondary-btn:hover {
    background-color: #646464 !important;
}

.btn.save {
    background-color: #21ba45 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.save:hover {
    background-color: #20973c !important;
}

.btn.cancel {
    background-color: #ff695e !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.cancel:hover {
    background-color: #c92b20 !important;
}

.btn {
    outline: 0 auto transparent !important;
    box-shadow: 0 0 4px 0px black;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0.25em 0 0;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.2s ease, background-color 0.2s ease,
        color 0.2s ease, background 0.2s ease, -webkit-box-shadow 0.2s ease;
    transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease,
        background 0.2s ease, -webkit-box-shadow 0.2s ease;
    transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease,
        box-shadow 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease,
        box-shadow 0.2s ease, background 0.2s ease, -webkit-box-shadow 0.2s ease;
    will-change: "";
    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
    background-color: #a7a7a7 !important;
    color: #fff;
}

/* INPUTS */
.input {
    margin: 0;
    max-width: 100%;
    font-size: 1em;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    background-color: #ececec;
    border: 2px solid #585858;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease,
        -webkit-box-shadow 0.1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus {
    border: 2px solid #5cbdff;
    box-shadow: 0 0 10px #a6a6e8 !important;
}

/* INPUT ICON */
div.icon.input-box {
    position: relative;
}

div.icon.input-box>i {
    pointer-events: none;
}

div[class*="left icon"].input-box>i {
    right: auto;
    left: 1px;
    border-radius: 0.28571429rem 0 0 0.28571429rem;
}

div.icon.input-box>i {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    position: absolute;
    line-height: 1;
    text-align: center;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    width: 2.67142857em;
    opacity: 0.6;
    border-radius: 0 0.28571429rem 0.28571429rem 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

div[class*="left icon"].input-box>input.input {
    padding-left: 2.67142857em !important;
    padding-right: 1em !important;
}

/* MESSAGE */
div.container-messages {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    white-space: pre-line;
    font-size: 1em;
    position: absolute;
    top: 65px;
}

.message {
    display: none;
    padding: 0.55em 2em 0.55em 1em;
    margin: 0.4em 0;
    border-radius: 10px;
    place-self: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.message i {
    font-size: 22px;
    margin-right: 25px;
    vertical-align: middle;
}

.msg-info {
    background-color: #dff0ff;
    color: #144d77;
    -webkit-box-shadow: 0 0 0 1px #2185d0 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px #2185d0 inset, 0 0 0 0 transparent;
}

.msg-success {
    background-color: #e5f9e7;
    color: #187523;
    -webkit-box-shadow: 0 0 0 1px #1ebc30 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px #1ebc30 inset, 0 0 0 0 transparent;
}

.msg-warning {
    background-color: #fff8db;
    color: #6d5315;
    -webkit-box-shadow: 0 0 0 1px #b58105 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px #b58105 inset, 0 0 0 0 transparent;
}

.msg-error {
    background-color: #ffe8e6;
    color: #b52626;
    -webkit-box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
}

/* HEADER */
header.admin {
    background-color: #ffa500;
}

header {
    background-color: #64b7ff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

header>.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header>.logo-box>img.logo {
    border-radius: 100px;
}

header>.items {
    display: flex;
    flex-flow: row nowrap;
}

header>.items>.item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    font-size: 1.3em;
    text-decoration: none;
    color: #023382;
}

header>.items>.item.active {
    font-weight: bold;
}

header>.items>.item:hover {
    color: #000000;
}

header>p.user {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

header i.fas {
    margin-right: 5px;
}

/* LIST */
div.list {
    list-style-type: none;
    margin: 1em 0;
    padding: 0 0;
}

div.list>.item {
    display: flex;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.21428571em 0;
    line-height: 1.14285714em;
}

div.list>.item>.content {
    display: table-cell;
    width: 100%;
    padding: 0 0 0 0.5em;
    vertical-align: top;
}

div.list>.item>.content>.header {
    display: block;
    margin: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
}

div.list>.item>.content>.description {
    display: block;
    color: rgba(0, 0, 0, 0.7);
}

ul.list {
    margin: 0 auto;
    width: 500px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.list li,
ul.list a {
    float: left;
    height: 35px;
    width: 80%;
    line-height: 35px;
    position: relative;
    font-size: 15px;
    margin-bottom: 8px;
    font-family: "Raleway", sans-serif;
    transition: background-color 0.5s ease;
}

ul.list a {
    font-size: 1.3em;
    padding: 0 60px 0 12px;
    background: #0089e0;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

ul.list a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 18px 12px 18px 0;
}

ul.list a:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    float: left;
    width: 6px;
    height: 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
}

ul.list a:hover {
    background: #555;
}

ul.list a:hover:before {
    border-color: transparent #0089e0 transparent transparent;
}

ol.list {
    counter-reset: li;
    list-style: none;
    list-style: decimal;
    font-size: 15px;
    padding: 0;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

ol.list li {
    width: 80%;
}

ol.list a {
    font-size: 1.3em;
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 2em;
    margin: 0.25em 0;
    background: #93c775;
    color: #000;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 10em;
    transition: all 0.2s ease-in-out;
}

ol.list a:hover {
    background: #d6d4d4;
    text-decoration: none;
    transform: scale(1.1);
}

ol.list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #93c775;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: 0.3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color: #fff;
}

/* FORM */
.container-form {
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 50px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0 0 12px 2px black;
}

form.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

form.form span.title {
    width: 100%;
    display: block;
    font-size: 39px;
    color: #555;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 500;
}

form.form .label-group label {
    font-size: 20px;
}

form.form .label-group button {
    font-size: 20px;
}

/* TABLE */
table {
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 9px 2px #5b76a0;
}

table * {
    position: relative;
}

table caption {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 2%;
}

table thead th:nth-child(1) {
    border-top-left-radius: 8px;
}

table thead th:last-child {
    border-top-right-radius: 8px;
}

table thead th,
table tfoot th {
    height: 60px;
    background: #003281;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
    text-align: center;
}

table tbody tr {
    height: 50px;
    font-size: 15px;
    color: #3e3b3b;
    line-height: 1.2;
    font-weight: unset;
    text-align: center;
}

table tbody tr.disabled {
    opacity: 0.3;
    user-select: none;
    cursor: not-allowed;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* ERROR PAGE 404, 403 */
.error-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.error-page>.number {
    font-size: 200px;
    font-weight: bold;
    margin: 0;
    user-select: none;
}

.error-page>.description {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

/* LANDING */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.landing>.container-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.landing>.container-title>.title {
    font-size: 3em;
    margin: 0 15px;
    text-align: center;
}

.landing>.container-title>img {
    width: 11%;
}

.landing>main {
    padding-left: 2rem;
    padding-right: 2rem;
}

.landing>main * {
    font-size: 20px;
}

.landing>main>p.subtitle.text {
    margin-top: 2em;
}

.landing>main>p.text {
    text-align: center;
    margin: 7px 0;
}

.landing>main>.btn-container {
    text-align: center;
    font-size: 25px;
    margin-top: 70px;
}

/* TERMS */
body.body-term {
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms,
.logs {
    margin: 3% 0;
}

.terms td button.btn,
.terms td a.btn {
    padding: 0.8em;
    margin: 0;
}

.terms tbody tr:last-child td button.btn {
    width: 100%;
    height: 50px;
    border-radius: 0px;
    font-size: 20px;
    padding: 0px;
}

.terms tbody tr:last-child td button.btn i {
    font-size: 24px;
    margin-right: 5px;
}

.terms tbody td>p {
    font-size: 18px;
    font-weight: 500;
}

/* DIALOG JQUERY */
.bg-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.ui-dialog {
    position: fixed;
    background-color: #fff;
    top: unset !important;
    left: unset !important;
    max-width: 700px !important;
    width: 66% !important;
    box-shadow: 0 0 20px 1px black;
    border-radius: 7px;
}

.ui-dialog .ui-dialog-titlebar {
    border-bottom: 2px solid #589ed0;
    text-align: center;
    font-size: 24px;
    background-color: #efefef;
    padding: 6px 0;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 2px 6px #589ed0;
}

.ui-dialog .ui-dialog-titlebar button {
    position: absolute;
    top: 4px;
    right: 15px;
    font-size: 1.2em;
    outline: none !important;
}

.ui-dialog .label-group input {
    background-color: #dcdcdc;
    border: 0;
}

.ui-dialog .label-group input:focus {
    border: 2px solid #5cbdff;
    box-shadow: 0 0 10px #007effb3 !important;
}

.ui-dialog .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* DATAPICKER JQUERY */
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.2em 0;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev {
    left: 7px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 0px;
    width: 1.3em;
    height: 0.8em;
    font-size: 25px;
}

.ui-datepicker .ui-widget-header {
    border: 1px solid #003281;
    background: #ececec;
    color: #333333;
    font-weight: bold;
    border-radius: 3px;
}

div#ui-datepicker-div table {
    width: 360px;
}

/* BUTTONS WITH OR */
.buttons-group {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    vertical-align: baseline;
    background-color: #efefef;
    padding: 15px 20px;
    width: 50%;
    margin: 10px 0 auto auto;
    border-top: 2px solid #5cbdff;
    border-left: 2px solid #5cbdff;
    box-shadow: 0px 0px 7px 0px #007effb3;
    border-top-left-radius: 20px;
}

.buttons-group .or {
    position: relative;
    width: 0.3em;
    height: 2.57142857em;
    z-index: 3;
}

.buttons-group .or:before {
    position: absolute;
    text-align: center;
    border-radius: 500rem;
    content: "or";
    top: 50%;
    left: 50%;
    background-color: #fff;
    text-shadow: none;
    margin-top: -0.89285714em;
    margin-left: -0.89285714em;
    width: 1.78571429em;
    height: 1.78571429em;
    line-height: 1.78571429em;
    color: rgba(0, 0, 0, 0.4);
    font-style: normal;
    font-weight: 700;
    -webkit-box-shadow: 0 0 0 1px transparent inset;
    box-shadow: 0 0 0 1px transparent inset;
}

.buttons-group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.buttons-group button,
.buttons-group a {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0;
    border-radius: 0;
    margin: 0;
}

/* DIALOG REMOVE TERM */
.delete-term {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.delete-term .modal-dialog {
    background-color: white;
    min-width: 300px;
    width: 95%;
    max-width: 620px;
    border-radius: 16px;
    box-shadow: 0 0 10px 0px black;
}

.delete-term .modal-dialog .modal-header {
    min-height: 16.43px;
    padding: 9px 15px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #003281;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    box-shadow: 0 2px 5px 0px #3a87ff;
    text-shadow: 0 0 20px black;
}

.delete-term .modal-dialog .modal-body {
    position: relative;
    padding: 15px;
    text-align: center;
}

.delete-term .modal-dialog .modal-body h4 {
    font-size: 21px;
    font-weight: 600;
}

.delete-term .modal-dialog .modal-body p span {
    background-color: #333333;
    border-radius: 5px;
    padding: 6px 8px;
    color: #44ffe6;
    font-weight: bold;
    display: inline-block;
}

.delete-term .modal-dialog .modal-body input {
    margin-top: 5px;
    background-color: #dcdcdc;
    border: 0;
}

.delete-term .modal-dialog .modal-body input:focus {
    border: 2px solid #5cbdff;
    box-shadow: 0 0 10px #007effb3 !important;
}

.delete-term .modal-dialog .modal-footer {
    padding: 5px 15px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.delete-term .modal-dialog .modal-footer .buttons-group {
    width: 60%;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: unset;
    padding: 0;
}

/* LOGIN */
main.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main.login form.form input {
    width: 100%;
}

main.login .container-form {
    position: relative;
}

main.login .container-form a img.logo {
    width: 68px;
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 200px;
}

/* RESPONSIVE */
@media (max-width: 1270px) {
    .terms table {
        width: 90vw;
    }

    .terms td:nth-child(7),
    .terms th:nth-child(7) {
        display: none;
    }
}

@media (max-width: 1000px) {
    .terms table {
        width: 90vw;
    }

    .terms td:nth-child(6),
    .terms th:nth-child(6) {
        display: none;
    }
}

@media (max-width: 850px) {
    .ui-dialog .row {
        flex-direction: column;
    }

    table caption {
        font-size: 1.2em !important;
    }

    .terms thead *,
    .terms tbody *,
    .terms tfoot * {
        font-size: 12px !important;
    }
}

@media (max-width: 750px) {
    .options {
        flex-direction: column;
        align-items: center;
    }

    .buttons-group {
        width: 100%;
        border-radius: 0px;
        border-left: 0px;
    }

    .buttons-group .btn {
        width: 50%;
    }

    .terms td:nth-child(1):not([colspan="9"]),
    .terms th:nth-child(1) {
        display: none;
    }

    .terms thead th:nth-child(2) {
        border-top-left-radius: 8px;
    }

    .landing>.container-title>img {
        width: 30%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .landing>.container-title>.title {
        margin: 0px;
    }
}

@media (max-width: 600px) {
    .landing>main>p {
        font-size: 18px !important;
    }

    .landing .title {
        font-size: 32px !important;
    }
}

@media (max-width: 450px) {
    .delete-term .modal-dialog .modal-footer .buttons-group {
        width: 100%;
    }

    .delete-term .modal-dialog .modal-footer .buttons-group button {
        width: 50%;
        flex-grow: 0;
    }

    .ui-dialog .ui-dialog-titlebar {
        font-size: 18px;
    }
}
