/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

/* BUTTON, LINK */
.btn.primary-btn {
    background-color: #1678c2 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.primary-btn:hover {
    background-color: #206091 !important;
}

.btn.secondary-btn {
    background-color: #1b1c1d !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.secondary-btn:hover {
    background-color: #646464 !important;
}

.btn.save {
    background-color: #21ba45 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.save:hover {
    background-color: #20973c !important;
}

.btn.cancel {
    background-color: #ff695e !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.cancel:hover {
    background-color: #c92b20 !important;
}

.btn {
    box-shadow: 0 0 4px 0px black;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, .6);
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .2s ease, background-color .2s ease, color .2s ease, background .2s ease, -webkit-box-shadow .2s ease;
    transition: opacity .2s ease, background-color .2s ease, color .2s ease, background .2s ease, -webkit-box-shadow .2s ease;
    transition: opacity .2s ease, background-color .2s ease, color .2s ease, box-shadow .2s ease, background .2s ease;
    transition: opacity .2s ease, background-color .2s ease, color .2s ease, box-shadow .2s ease, background .2s ease, -webkit-box-shadow .2s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
    background-color: #a7a7a7 !important;
    color: #fff;
}

/* INPUTS */
.input {
    margin: 0;
    max-width: 100%;
    font-size: 1em;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    background: #fff;
    border: 2px solid #585858;
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    -webkit-transition: border-color .1s ease, -webkit-box-shadow .1s ease;
    transition: border-color .1s ease, -webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease, -webkit-box-shadow .1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus {
    border: 2px solid #5cbdff;
    box-shadow: 0 0 10px #a6a6e8;
}

/* MESSAGE */
.message {
    display: none;
    padding: 0.55em 2em;
    margin: 1.2em 0 1.2em 0;
    border-radius: 10px;
}

.msg-info {
    color: #fff;
    background-color: #2196F3;
    border: 1px solid #58748a;
    box-shadow: 0 0 5px #2196F3;
}

.msg-success {
    color: #fff;
    background-color: #4CAF50;
    border: 1px solid #39883c;
    box-shadow: 0 0 5px #4CAF50;
}

.msg-warning {
    color: #fff;
    background-color: #ff9800;
    border: 1px solid #ad7c33;
    box-shadow: 0 0 5px #ff9800;
}

.msg-error {
    color: #fff;
    background-color: #f44336;
    border: 1px solid #a0342c;
    box-shadow: 0 0 5px #f44336;
}

/* HEADER */
header.admin {
    background-color: #ffa500;
}

header {
    background-color: #64b7ff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

header>.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header>.logo-box>img.logo {
    border-radius: 100px;
}

header>.items {
    display: flex;
    flex-flow: row nowrap;
}

header>.items>.item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    font-size: 1.3em;
    text-decoration: none;
    color: #023382;
}

header>.items>.item.active {
    font-weight: bold;
}

header>.items>.item:hover {
    color: #000000;
}

header>p.user {
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

i.fas {
    margin-right: 5px;
}

/* LIST */
.list {
    list-style-type: none;
    margin: 1em 0;
    padding: 0 0;
}

.list>.item {
    display: flex;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: .21428571em 0;
    line-height: 1.14285714em;
}

.list>.item>.content {
    display: table-cell;
    width: 100%;
    padding: 0 0 0 .5em;
    vertical-align: top;
}

.list>.item>.content>.header {
    display: block;
    margin: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, .87);
}

.list>.item>.content>.description {
    display: block;
    color: rgba(0, 0, 0, .7);
}

/* TABLE */
.table {
    width: 100%;
    background: #fff;
    margin: 1em 0;
    border-left: 1px solid rgba(34, 36, 38, .15);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0, 0, 0, .87);
    border-collapse: separate;
    border-spacing: 0;
}

th,
td {
    border: 1px solid rgba(34, 36, 38, .15);
}

.table>thead th {
    cursor: auto;
    background: #ececec;
    text-align: inherit;
    color: rgba(0, 0, 0, .87);
    padding: .92857143em .78571429em;
    vertical-align: inherit;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    border-left: none;
}

.table>tbody td {
    cursor: auto;
    background: #ffffff;
    text-align: inherit;
    color: rgba(0, 0, 0, .87);
    padding: .92857143em .78571429em;
    vertical-align: inherit;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    border-left: none;
}

/* ERROR PAGE 404, 403 */
.error-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.error-page>.number {
    font-size: 200px;
    font-weight: bold;
    margin: 0;
}

.error-page>.description {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

/* LANDING */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 57vh;
}

.landing>.container-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landing>.container-title>.title {
    font-size: 3em;
    margin: 0 15px;
}

.landing>.container-title>img {
    width: 11%;
}

.landing>main>p.subtitle.text {
    font-size: 27px;
}

.landing>main>p.text {
    font-size: 23px;
    text-align: center;
    margin: 7px 0;
}

.landing>main>.btn-container {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}
