/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.dis-none {
    display: none;
}

.text-red {
    color: red;
}

.min-w-screen {
    width: 100vw;
}

/* BUTTON, LINK */
.btn.primary-btn {
    background-color: #1678c2 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.primary-btn:hover {
    background-color: #206091 !important;
}

.btn.secondary-btn {
    background-color: #1b1c1d !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.secondary-btn:hover {
    background-color: #646464 !important;
}

.btn.save {
    background-color: #21ba45 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.save:hover {
    background-color: #20973c !important;
}

.btn.cancel {
    background-color: #ff695e !important;
    color: #fff !important;
    text-shadow: none !important;
}

.btn.cancel:hover {
    background-color: #c92b20 !important;
}

.btn {
    outline: 0 auto transparent !important;
    box-shadow: 0 0 4px 0px black;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, .6);
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .2s ease, background-color .2s ease, color .2s ease, background .2s ease, -webkit-box-shadow .2s ease;
    transition: opacity .2s ease, background-color .2s ease, color .2s ease, background .2s ease, -webkit-box-shadow .2s ease;
    transition: opacity .2s ease, background-color .2s ease, color .2s ease, box-shadow .2s ease, background .2s ease;
    transition: opacity .2s ease, background-color .2s ease, color .2s ease, box-shadow .2s ease, background .2s ease, -webkit-box-shadow .2s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
    background-color: #a7a7a7 !important;
    color: #fff;
}

/* INPUTS */
.input {
    margin: 0;
    max-width: 100%;
    font-size: 1em;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    background: #fff;
    border: 2px solid #585858;
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    -webkit-transition: border-color .1s ease, -webkit-box-shadow .1s ease;
    transition: border-color .1s ease, -webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease, -webkit-box-shadow .1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus {
    border: 2px solid #5cbdff;
    box-shadow: 0 0 10px #a6a6e8 !important;
}

/* MESSAGE */

.ui.message {
    font-size: 1em;
}

div.container-messages {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    white-space: pre-line;    
    font-size: 1em;
    position: absolute;
    top: 65px;

}

.message {
    display: none;
    padding: .55em 2em .55em  1em;
    margin: .4em 0;
    border-radius: 10px;
    place-self: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.message i {
    font-size: 22px;
    margin-right: 25px;
    vertical-align: middle;
}

.msg-info {
    background-color: #dff0ff;
    color: #144d77;
    -webkit-box-shadow: 0 0 0 1px #2185d0 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px #2185d0 inset, 0 0 0 0 transparent;
}

.msg-success {
    background-color: #e5f9e7;
    color: #187523;
    -webkit-box-shadow: 0 0 0 1px #1ebc30 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px #1ebc30 inset, 0 0 0 0 transparent;
}

.msg-warning {
    background-color: #fff8db;
    color: #6d5315;
    -webkit-box-shadow: 0 0 0 1px #b58105 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px #b58105 inset, 0 0 0 0 transparent;
}

.msg-error {
    background-color: #ffe8e6;
    color: #b52626;
    -webkit-box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
}

/* HEADER */
/* header.admin {
    background-color: #ffa500;
}

header {
    background-color: #64b7ff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100px;
} */

header>.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header>.logo-box>img.logo {
    border-radius: 100px;
}

header>.items {
    display: flex;
    flex-flow: row nowrap;
}

header>.items>.item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    font-size: 1.3em;
    text-decoration: none;
    color: #023382;
}

header>.items>.item.active {
    font-weight: bold;
}

header>.items>.item:hover {
    color: #000000;
}

header>p.user {
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

header i.fas {
    margin-right: 5px;
}

/* LIST */
.list {
    list-style-type: none;
    margin: 1em 0;
    padding: 0 0;
}

.list>.item {
    display: flex;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: .21428571em 0;
    line-height: 1.14285714em;
}

.list>.item>.content {
    display: table-cell;
    width: 100%;
    padding: 0 0 0 .5em;
    vertical-align: top;
}

.list>.item>.content>.header {
    display: block;
    margin: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, .87);
}

.list>.item>.content>.description {
    display: block;
    color: rgba(0, 0, 0, .7);
}

/* TABLE */
table {
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 9px 2px #5b76a0;
}

table * {
    position: relative;
}

table caption {
    font-size: 1.5em;
    font-weight: 500;
}

table thead th:nth-child(1) {
    border-top-left-radius: 10px;
}

table thead th:last-child {
    border-top-right-radius: 10px;
}

table thead th,
table tfoot th {
    height: 60px;
    background: #003281;
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
    text-align: center;
}

table tbody tr {
    height: 50px;
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #3e3b3b;
    line-height: 1.2;
    font-weight: unset;
    text-align: center;
}

table tbody tr.disabled {
    opacity: 0.3;
    user-select: none;
    cursor: not-allowed;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

/*.table {
    width: 100%;
    background: #fff;
    margin: 1em 0;
    border-left: 1px solid rgba(34, 36, 38, .15);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0, 0, 0, .87);
    border-collapse: separate;
    border-spacing: 0;
}

th,
td {
    border: 1px solid rgba(34, 36, 38, .15);
}

.table>thead th {
    cursor: auto;
    background: #ececec;
    text-align: inherit;
    color: rgba(0, 0, 0, .87);
    padding: .92857143em .78571429em;
    vertical-align: inherit;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    border-left: none;
}

.table>tbody td {
    cursor: auto;
    background: #ffffff;
    text-align: inherit;
    color: rgba(0, 0, 0, .87);
    padding: .92857143em .78571429em;
    vertical-align: inherit;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    border-left: none;
}*/

/* ERROR PAGE 404, 403 */
.error-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.error-page>.number {
    font-size: 200px;
    font-weight: bold;
    margin: 0;
    user-select: none;
}

.error-page>.description {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

/* LANDING */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 57vh;
}

.landing>.container-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landing>.container-title>.title {
    font-size: 3em;
    margin: 0 15px;
}

.landing>.container-title>img {
    width: 11%;
}

.landing>main>p.subtitle.text {
    font-size: 27px;
}

.landing>main>p.text {
    font-size: 23px;
    text-align: center;
    margin: 7px 0;
}

.landing>main>.btn-container {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

/* TERMS */
body.body-term {
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms {
    margin: 3% 0;
}

.terms td button.btn {
    padding: .8em;
    margin: 0;
}

.terms tbody tr:last-child td button.btn {
    width: 100%;
    height: 50px;
    border-radius: 0px;
    font-size: 20px;
    padding: 0px;
}

.terms tbody tr:last-child td button.btn i {
    font-size: 24px;
    margin-right: 5px;
}

/* DIALOG JQUERY */
.ui-dialog {
    position: fixed;
    background-color: #fff;
    top: unset !important;
    left: unset !important;
    width: 700px !important;
    box-shadow: 0 0 20px 1px black;
    border-radius: 7px;
}

.ui-dialog .ui-dialog-titlebar {
    border-bottom: 2px solid #589ed0;
    text-align: center;
    font-size: 24px;
    background-color: #efefef;
    padding: 6px 0;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 2px 6px #589ed0;
}

.ui-dialog .ui-dialog-titlebar button {
    position: absolute;
    top: 4px;
    right: 15px;
    font-size: 1.2em;
    outline: none !important;
}

.ui-dialog .label-group {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
}

.ui-dialog .label-group input {
    background-color: #dcdcdc;
    border: 0;
}

.ui-dialog .label-group input:focus {
    border: 2px solid #5cbdff;
    box-shadow: 0 0 10px #007effb3 !important;
}

.ui-dialog .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bg-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.bg-opacity {
    z-index: 0;
    overflow: hidden;
    background-color: #00000062;
}

/* DATAPICKER JQUERY */
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev {
    left: 7px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 0px;
    width: 1.3em;
    height: 0.8em;
    font-size: 25px;
}

.ui-datepicker .ui-widget-header {
    border: 1px solid #003281;
    background: #ececec;
    color: #333333;
    font-weight: bold;
    border-radius: 3px;
}

div#ui-datepicker-div table {
    width: 360px;
}


/* BUTTONS WITH OR */
.buttons-group {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    vertical-align: baseline;
    background-color: #efefef;
    padding: 15px 20px;
    width: 50%;
    margin: 10px 0 auto auto;
    border-top: 2px solid #5cbdff;
    border-left: 2px solid #5cbdff;
    box-shadow: 0px 0px 7px 0px #007effb3;
    border-top-left-radius: 20px;
}

.buttons-group .or {
    position: relative;
    width: .3em;
    height: 2.57142857em;
    z-index: 3;
}

.buttons-group .or:before {
    position: absolute;
    text-align: center;
    border-radius: 500rem;
    content: 'or';
    top: 50%;
    left: 50%;
    background-color: #fff;
    text-shadow: none;
    margin-top: -.89285714em;
    margin-left: -.89285714em;
    width: 1.78571429em;
    height: 1.78571429em;
    line-height: 1.78571429em;
    color: rgba(0, 0, 0, .4);
    font-style: normal;
    font-weight: 700;
    -webkit-box-shadow: 0 0 0 1px transparent inset;
    box-shadow: 0 0 0 1px transparent inset;
}

.buttons-group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.buttons-group button {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0;
    border-radius: 0;
    margin: 0;
}

@media (max-width: 1270px) {
    .terms table {
        width: 90vw;
    }

    .terms td:nth-child(7),
    .terms th:nth-child(7) {
        display: none;
    }
}

@media (max-width: 1000px) {
    .terms table {
        width: 90vw;
    }

    .terms td:nth-child(6),
    .terms th:nth-child(6) {
        display: none;
    }
}
